head
  title= title
  meta(scharset="utf-8")
  meta(name="viewport", content="width=device-width")
  link(rel="stylesheet", href="/stylesheets/normalize.css")
  link(rel="stylesheet", href="/stylesheets/foundation.css")
  link(rel="stylesheet", href="/stylesheets/styleredip.css")
  link(rel="stylesheet", href="/less/app.css")
  <link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
  //- <script src="/javascripts/app/app.js"></script>
  script(src="/javascripts/vendor/redips-drag-source.js")
  script(src="/javascripts/vendor/custom.modernizr.js")


